<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Invoice Page - Admin HTML Template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="CSS/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="CSS/templatemo-style.css">
    <link rel="stylesheet" href="CSS/style.css" type="text/css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  </head>

  <body id="reportsPage">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="index.html">
          <h1 class="tm-site-title mb-0">Invoice Admin</h1>
        </a>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="fas fa-tachometer-alt"></i> Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="far fa-file-alt"></i>
                <span> Reports <i class="fas fa-angle-down"></i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Daily Report</a>
                <a class="dropdown-item" href="#">Weekly Report</a>
                <a class="dropdown-item" href="#">Yearly Report</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="products.html">
                <i class="fas fa-shopping-cart"></i> Products
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" th:href="@{accountmanagement}">
                <i class="far fa-user"></i> Accounts
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-cog"></i>
                <span> Settings <i class="fas fa-angle-down"></i> </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Billing</a>
                <a class="dropdown-item" href="#">Customize</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                <p class="nav-link d-block" th:if= "${session.currentuser != null}" th:text="${#session.getAttribute('currentuser').getUserName()}">
                </p>
              </li>
      		<li class="nav-item">
      		<a class="nav-link d-block" th:href="@{logout}">logout</a>
      		</li>
            </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="row tm-content-row" style="justify-content:center;">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <form th:object="${selectedProduct}" method="post">
                <table class="table table-hover tm-table-small tm-product-table m-0">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Invoice Date</th>
                      <th scope="col">Payment Status</th>
                      <th scope="col">Currency</th>
                      <th scope="col">Payment Method</th>
                      <th scope="col">Delivery Status</th>
                      <th scope="col">Description</th>
                      <th scope="col">Intent Content</th>
                      <th scope="col">Acceptance Status</th>
                      <th scope="col">Customer ID</th>
                      <th scope="col">&nbsp;</th>
                      <!--<th scope="col">&nbsp;</th>
                      <th scope="col">&nbsp;</th>-->
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="width: 25px ;" th:each="invoice, invoiceListState: ${allInvoiceList}">
                        <td th:text="${invoice.id}"> </td>
                        <td th:text="${invoice.formattedInvoiceDate()}"> </td>
                        <td th:text="(${invoice.paymentStatus} == 1)? 'Payed' : 'Not Payed'"> </td>
                        <td th:text="${invoice.currency}" class="tm-product-name"> </td>
                        <td th:text="${invoice.paymentMethod}" class="tm-product-name"> </td>
                        <td th:text="(${invoice.deliveryStatus} == 1)? 'Shipped' : 'Not Shipped'"> </td>
                        <td th:text="(${invoice.description} != null)? ${invoice.description} : '...'"> </td>
                        <td th:text="(${invoice.intent} != null)? ${invoice.intent} : '...'"> </td>
                        <td th:text="${invoice.adminAcceptance}" class="tm-product-name"> </td>
                        <td th:text="${invoice.getCustomer().getId()}" class="tm-product-name"> </td>
                        <td > 
                          <button class="fa-solid fa-magnifying-glass tm-product-delete-link" type="submit" name="action" value="view this invoice" ></button>
                        </td>
                        <!--<td > 
                          <button class="fa-solid fa-pen-to-square tm-product-delete-link" type="submit" name="action" value="edit this invoice" ></button>
                        </td>
                        <td > 
                          <button class="fa-regular fa-trash-can tm-product-delete-link" type="submit" name="action" value="delete this invoice" ></button>
                        </td>-->
                    </tr>
                  </tbody>
                </table>
                <!--<button class="btn btn-primary btn-block text-uppercase button-hover-blue-default" type="submit" style="position: sticky; bottom: 53px">
                  Delete selected invoices
                </button>
                <div style="position: sticky; 
                            bottom: 50px;
                            height:3px;
                            background-color: #4e657a"></div>
                <a class="btn btn-primary btn-block text-uppercase m-0 button-hover-blue-default" style="position: sticky; bottom: 0px">Add new Invoice</a>-->
              </form>
            </div>
            <!-- table container th:attr="onclick=|productService.deleteProduct(96)|"-->
            
          </div>          
        </div>
        
      </div>
    </div>

    

    <script>
      

      let modalList = document.querySelectorAll(".modal");
      modalList.forEach(modal => {
        let background = modal.querySelector(".modal-background");
        background.onclick = function () {
          modal.classList.remove("is-active");
        };

        let buttonList = modal.querySelectorAll("button.button");
        buttonList.forEach(button => {
          button.onclick = function () {
            modal.classList.remove("is-active");
          };
        });
      });
    </script>

    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2018</b> All rights reserved. 
          
          Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
      </div>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
      });
    </script>
  </body>
</html>