<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="CSS/stylelogin.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="has-background-transparent">
    <img src="https://c8.alamy.com/comp/KRC3CA/women-clothes-in-front-with-store-background-in-paris-KRC3CA.jpg" alt=""
                    style="position: fixed;
                            z-index: -100;
                            top: 0;
                            width:100%;
                            filter: blur(8px);
                            -webkit-filter: blur(4px);">
    <div class="cont mt-6">
        <form class="form sign-in" action = "#" th:action = "@{/loginpage}" method="post" th:object = "${Account}">
            <div class="m-6">
                <div class="has-text-centered pb-6" style="position:relative;">
                    <div class="logo-shop">
                        Fool!st.
                    </div>
                </div>
                <div class="container">
                    <div class="">
                        <div class="m-4">
                            <div class="title is-6 mb-3 has-text-left">
                                Username
                            </div>
                            <input type="text" class="input has-text-left" th:field="*{userName}">
                        </div>
                        <div class="m-4">
                            <div class="title is-6 mb-3 has-text-left">
                                Password
                            </div>
                            <input type="password" class="input has-text-left" th:field="*{password}">
                        </div>
                        <div class="has-text-right">
                            <a href="#" class="forgot-pass">Forgot your password?</a>
                        </div>
                    </div>
                    <div class="has-text-centered mt-5 mb-5 has-text-weight-bold is-flex is-justify-content-center">
                        <div type="submit" class="has-width-20rem button has-text-white is-rounded is-fullwidth" 
                            style="background-color: #d4af7a; width: 20rem;">Shopping NOW</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                 
                    <h3>Don't have an account? Please Sign up!<h3>
                </div>
                <div class="img__text m--in">
                
                    <h3>If you already has an account, just sign in.<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">Sign Up</span>
                    <span class="m--in">Sign In</span>
                </div>
            </div>
            <div class="form sign-up has-text-centered m-3">
                <div class="title is-4 mb-6">Create your Account</div>
                <label>
                    <span class="is-capitalized">Username</span>
                    <input type="text" />
                </label>
                <label>
                    <span class="is-capitalized">Email</span>
                    <input type="email" />
                </label>
                <label>
                    <span class="is-capitalized">Password</span>
                    <input type="password" />
                </label>
                <div class="has-text-centered mb-5 has-text-weight-bold is-flex is-justify-content-center">
                    <div type="button" class="has-width-20rem submit button has-text-white is-rounded is-fullwidth" 
                        style="background-color: #d4af7a; width: 20rem;">Register</div> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script>
    document.querySelector('.img__btn').addEventListener('click', function() {
        document.querySelector('.cont').classList.toggle('s--signup');
    });
</script>