<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>MY NEWSPAPER</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<link rel="stylesheet" href="css\newspaperCSS.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
	
	<body>
		<div class="head_bar ">
            <button class = "login_button hovering" onclick="location.href='${pageContext.request.contextPath}/login.html'">
                Login
                <span class="tooltiptext">Click to login</span>
            </button>

            <div class="title">
                My Newspaper
            </div>

            <button class="signup__button hovering" onclick="location.href='${pageContext.request.contextPath}/RegisterForm.jsp'">
                Sign Up
                <span class="tooltiptext">Click to sign up</span>
            </button>    
        </div>

        <div id="toast"></div>

        <div class="toast toast--welcome">
            <div class="toast__icon toast__icon--welcome">
                <i class="fas fa-door-open"></i>
            </div>
            <div class="toast__content toast__content--welcome">
                <h2 class="toast__title">Welcome to My Newspaper</h2>
                <h3 class="toast__message">Have a good reading !!</h3>
            </div>
            <div class="toast__close hovering">
                <i class="fas fa-window-close"></i>
            </div>
        </div>
        

        <div class="topics">Top News Of The Day </div>      
        <div class="topNew__layout">
            <div class="topNew__layout_item", id="topNew__top2-new">
                <h1 class="topNew__title hovering">Most Americans in highly vaccinated areas now live in covid hot spots</h1>
                <h2 class="content">Life in highly vaccinated states is still safer, according to a Post analysis.</h2>
                <h3 class="source">By Fenit Nirappil, Dan Keating, Maria Aguilar, Naema Ahmed and Aaron Steckelberg </h3>
            </div>
            <div class="topNew__layout_item topNew__layout_main", id="topNew__top1-new">
                <div class="main__image"></div>
                <div class="main__content">
                    <h1 class="topNew__title hovering">How a collapsed pool deck could have caused a Florida condo building to fall</h1>
                    <h2 class="content">A simulation based on a digital model that factors in witness accounts, visual evidence and construction plans shows that an initial collapse in the pool deck area of Champlain Towers South could have triggered a series of events that brought down much of the building.</h2>
                    <h3 class="source">By Jon Swaine, Emma Brown, Joyce Sohyun Lee, Atthar Mirza and Meg Kelly </h3>
                </div>
            </div>
            <div class="topNew__layout_item", id="topNew__top3-new">
                <h1 class="topNew__title hovering">What Rosen told U.S. senators: Trump applied ‘persistent’ pressure to get Justice to discredit election</h1>
                <h2 class="content">Trump’s last acting attorney general told lawmakers he had to “persuade the president not to pursue a different path.”</h2>
                <h3 class="source">By Ann E. Marimow and Josh Dawsey  </h3>
            </div>
        </div>

        <div class="topics">Opinions</div>

        <div class="opinion_layout">
            <div class="opinion_top">
                <div class="opinion_top_component">
                    <div class="opinion_content">
                        <h1 class="hovering">How to fix our rigged tax system.</h1>
                        <h2 class="source">Opinion by Elizabeth Warren</h2>
                    </div>
                    <div class="opinion_image1 opinion__images"></div>
                </div>
                <div class="opinion_top_component opinion_top_mid">
                    <div class="opinion_content">
                        <h1 class="hovering">A military vaccine mandate makes sense. The shot is necessary armor.</h1>
                        <h2 class="source">Opinion by the Editorial Board</h2>
                    </div>
                    <div class="opinion_image2 opinion__images"></div>
                </div>
                <div class="opinion_top_component">
                    <div class="opinion_content">
                        <h1 class="hovering">‘I Am Legend’ vaccine guidance is just the beginning of bad fictional advice!</h1>
                        <h2 class="source">Opinion by Alexandra Petri</h2>
                    </div>
                    <div class="opinion_image3 opinion__images"></div>
                </div>
            </div>
            <div class="opinion_bottom">
                <div class="opinion_bottom_component opinion_bottom_left">
                    <div class="opinion_content">
                        <h1 class="hovering">The infrastructure bill just saved the filibuster — and made it likelier Republicans retake Congress.</h1>
                        <h2 class="source">Opinion by Marc A. Thiessen</h2>
                    </div>
                    <div class="opinion_image4 opinion__images"></div>
                </div>
                <div class="opinion_bottom_component">
                    <div class="opinion_content">
                        <h1 class="hovering">The Chinese Communist Party’s 100th birthday vs. America’s 250th.</h1>
                        <h2 class="source">Opinion by Mitch Daniels</h2>
                    </div>
                    <div class="opinion_image5 opinion__images"></div>
                </div>
                <div class="opinion_bottom_component opinion_bottom_right">
                    <div class="opinion_content">
                        <h1 class="hovering">Good riddance to all the anti-vax police officers.</h1>
                        <h2 class="source">Opinion by Catherine Rampell</h2>
                    </div>
                    <div class="opinion_image6 opinion__images"></div>
                </div>
            </div>
        </div>

        <div class="topics">Guide To Pandemic</div>

        <div class="pandemic_layout">
            <div class="pandemic_left">
                <div class="pandemic_left_item">
                    <h1 class="hovering">Spread of delta variant ignites covid hot spots in highly vaccinated parts of the U.S., Post analysis finds</h1>
                    <h2 class="content">The Post analysis illustrates how rapidly the state of the pandemic changed in July from a problem for the unvaccinated to a nationwide concern, though life in highly vaccinated states is still safer.</h2>
                    <h3 class="source">By Fenit Nirappil, Dan Keating, Maria Aguilar, Naema Ahmed and Aaron Steckelberg </h3>
                </div>
                <div class="pandemic_left_box">
                    <div class="pandemic_left_box_left">
                        <div class="pandemic_left_box_image1"></div>
                        <h1 class="hovering">Booster shots are coming for immunocompromised people. Here’s what that means.</h1>
                        <h3 class="source">By Bryan Pietsch and Adela Suliman </h3>
                    </div>
                    <div class="pandemic_left_box_right">
                        <div class="pandemic_left_box_image2"></div>
                        <h1 class="hovering">Tracking vaccinations, state by state</h1>
                        <h3 class="source">By Naema Ahmed, Dan Keating, Garland Potts, Monica Ulmanu and Jessica Wolfrom </h3>
                    </div>
                </div>
            </div>
            <div class="pandemic_right">
                <div class="pandemic_graph"></div>
                <h1 class="hovering">Tracking cases and deaths in the U.S.</h1>
                <h2>Cases and deaths worldwide</h2>
            </div>
        </div>

        <div class="topics">Some contents you may interesting</div>

        <div class="interesting-contents__container">
            <div class="interesting-contents__box-1">
                <div class="interesting-contents__content">
                    <h2>Your Weekend Briefing</h2>
                    <h3 class="content">Here’s what you need to know about the week’s top stories.</h3>
                </div>
                <div id="interesting-contents__image-1", class="box-image"></div>
            </div>
            <div class="interesting-contents__box-2">
                <div class="interesting-contents__content">
                    <h2>The Sunday Read</h2>
                    <h3 class="content">For years, she covered attempts to exonerate the incarcerated. But a letter from an inmate led to a different kind of story.</h3>
                </div>
                <div id="interesting-contents__image-2", class="box-image"></div>
            </div>
            <div class="interesting-contents__box-3">
                <div class="interesting-contents__content">
                    <h2>Sign Up for ‘Climate Fwd:’</h2>
                    <h3 class="content">The world is changing, fast. Our newsletter keeps you up to date.</h3>
                </div>
                <div id="interesting-contents__image-3", class="box-image"></div>
            </div>
            <div class="interesting-contents__box-4">
                <div class="interesting-contents__content">
                    <h2>Listen to ‘The Book Review Podcast’</h2>
                    <h3 class="content">Dana Spiotta discusses her latest novel, and Ash Davidson talks about her debut, “Damnation Spring.”</h3>
                </div>
                <div id="interesting-contents__image-4", class="box-image"></div>
            </div>
        </div>

        <script>
            function toast({title , message , type, duration})
            {
                const main = document.getElementById('toast');
                const iconList = 
                {
                    login:'fas fa-exclamation-triangle',
                    signUp: 'fas fa-bug'
                };
                const icon = iconList[type];
                const delay = (duration/1000).toFixed(2);
                
                if(main)
                {
                    const toast = document.createElement('div');
                    
                    const autoRemoveToast = setTimeout
                    (
                        function()
                        {
                            main.removeChild(toast);
                        }, duration 
                    );

                    toast.onclick = function(event)
                    {
                        // console.log(event.target);
                        if(event.target.closest('.toast__close'))
                        {
                            main.removeChild(toast);
                            clearTimeout(autoRemoveToast);
                        }
                    }

                    toast.classList.add('toast', `toast--${type}`);
                    toast.style.animation = `slideInFromRight ease 1s, fadeAway linear 2s ${delay}s forwards`;
                    toast.innerHTML = `
                        <div class="toast__icon toast__icon--${type}">
                            <i class="${icon}"></i>
                        </div> 
                        <div class="toast__content toast__content--${type}">
                            <h2 class="toast__title">${title}</h2>
                            <h3 class="toast__message">${message}</h3>
                        </div>
                        <div class="toast__close hovering">
                            <i class="fas fa-window-close"></i>
                        </div>
                    `;
                    main.appendChild(toast);
                }
            }

            function showSignUpMessage()
            {
                toast
                ({
                    title: 'Opps !!',
                    message: 'I have not designed this yet, come back later !!',
                    type: 'signUp',
                    duration: 5000,
                })
            }

            function showLoginMessage()
            {
                toast
                ({
                    title: 'Opps !!',
                    message: 'I have not designed this yet, come back later !!',
                    type: 'login',
                    duration: 5000,
                })
            }
        </script>
	</body>
</html>